extends ../layouts/default
block content
	+coverPhoto(Page)
	.container
		.row
			.col-md-6(style="text-align: center;")
				h2 Food
				p Our one-of-a-kind snack bar is available to all guests! We offer a variety of international cuisines, from the east to the west, all at a very reasonable price! Come all, come hungry- we promise you will not be disappointed!
			.col-md-6(style="text-align: center;")
				h2 Pricing
				p Varies per item!
	.container-fluid
		.row(style="margin-top: 65px;")
			.col-md-4.food-container.grow
				img.food(src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481687254/food-dinner-lemon-rice_nqwda5.jpg")
			.col-md-4.food-container.grow
				img.food(src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481687162/muffin_elmvh5.jpg")
			.col-md-4.food-container.grow
				img.food(src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481687161/food-salad-healthy-vegetables_jcrr8s.jpg")
		.row
			.col-md-4.food-container.grow
				img.food(style="height: 100%;", src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481688017/pexels-photo-65132_z7qehm.jpg")
			.col-md-4.food-container.grow
				img.food(src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481687147/pexels-photo-62097_wlvu86.jpg")
			.col-md-4.food-container.grow
				img.food(src="http://res.cloudinary.com/fblaexhilarate/image/upload/c_scale,w_500/v1481687146/pexels-photo-70497_nl6nyi.jpg")
