extends ../layouts/default
block content
		.container-fluid
			.hero
				img.hero-image(src=Page._.coverPhoto.fit(1500,1500))
			.hero-content
				img.logo-hero(src='images/logo.png', style="width: 80%;")
				h2.tag-line-hero(style='margin: -30px; color: white;') Fun. Family. Festivity.
