extends ../layouts/default
block content
	+coverPhoto(Page)
	.container(style="margin-top: 60px; padding: 10px;")
		.col-md-6
				p The fun doesn’t have to end before the weekend does! Click on the calendar below to book one of our state-of-the-art hotel rooms to continue your EXHILARATE experience!
		.col-md-6(style='padding: 20px;')
			.row
				.alert.alert-success(role='alert')
					h3 To book your hotel room, choose a date below!
					h3 Please note: only 5 to a room! You can select multiple rooms on the next page!
			.row
				form(method="post", action="/overnight-booking/make-a-overnight-booking#content")
					input(type='hidden', name='action', value='start')
					.input-group.date(data-provide='datepicker', style="width: 200px")
						input.form-control(type='text', name="date")
						.input-group-addon
							span.glyphicon.glyphicon-th
					button.btn.btn-default(type="submit") Book Now!
						
