block footer
	.container
		.row(style="align-items: baseline !important;")
			.col-sm-3
				h4.footer-heading COMPANY
				.sublinks
					a(href="/page/about-us")
						h4 About Us
					a(href="/attractions")
						h4 Attractions
					a(href="/page/ticket-pricing")
						h4 Ticket Pricing
					a(href="/page/overnight-booking")
						h4 Overnight Booking
					a(href="/page/dining")
						h4 Dining
					a(href="/page/party-booking")
						h4 Party Booking
			.col-sm-3(style="text-align: center;")
				a(href="/attractions")
					h4.footer-heading ATTRACTIONS
				.sublinks
					a(href="/attraction/swimming")
						h4 Swimming
					a(href="/attraction/go-karting")
						h4 Go Karting
					a(href="/attraction/ice-skating")
						h4 Ice Skating
					a(href="/attraction/trampoline-park")
						h4 Trampoline Park
					a(href="/attraction/virtual-reality")
						h4 Virtual Reality
					a(href="/attraction/bowling")
						h4 Bowling
			.col-sm-3.socialinkscontainer(style="text-align: right;")
				h4.footer-heading CONNECT WITH US
				.socialinks(style="margin-left: 20px;")
					.row(style="justify-content: flex-end;")
							i.fa.fa-facebook-f.fa-3x 
							a(href="https://facebook.com/exhilarateworld")
								h4(style="margin: 10px;") Facebook
					.row(style="justify-content: flex-end;")
							i.fa.fa-twitter.fa-3x 
							a(href="https://twitter.com/exhilarateworld")
								h4(style="margin: 10px;")  Twitter
					.row(style="justify-content: flex-end;")
							i.fa.fa-instagram.fa-3x 
							a(href="https://instagram.com/exhilarateworld")
								h4(style="margin: 10px;")  Instagram
					.row.contact(style="text-align: right; justify-content: flex-end;")
						a(href="/page/contact-us")
							h4 Contact Page
		hr(style="border-color: white;")
		.row.contact(style="align-items: baseline;")
				.col-sm-3
					h4 3702 Lily Street
					h4 Pasadena, TX 77505
				.col-sm-3(style="text-align: center;")
					img(src="/images/tri.png", style="margin-left: auto; margin-right: auto; width: 60px;")
				.col-sm-3.contact(style="text-align: right;")
					a(href="MAILTO:joinexhilarate@gmail.com")
						h4 joinexhilarate@gmail.com
					h4 (832) 513-8680
		hr(style="border-color: white;")
		.row(style='padding-bottom: 75px;')
			.col-sm-6
				h4 © 2017 Exhilarate World Inc. All Rights Reserved.
				h4 Pictures from: wikimedia.org, pexels.com, thunderboltkarting.com, samsung.com, pixabay.com
			.col-sm-6.contact(style="text-align: right;")
				h4 By: Poonam and Pavan Agrawal
				h4 No theme was used to make this website. Technologies used: Bootstrap, animate.css, waypoints.js, keystoneJS, mongoDB, Cloudinary, and Express.
			
